#test{
    width:200px;
    height:100px;
    background-color: pink;
}
#test button{
    width:200px;
    height:100px;
    background-color: cyan;
    font-size: 4vw;
}
.win{
    width:70%;
    height:100%;
    background-color: rgba(115, 116, 115, 0.73);
    margin:0 auto;
}
.win-box{
    height:250px;
    background-color: rgb(242,247,251);
}
.win-tit{
    border-left:1px solid rgb(38,120,178);
    border-right:1px solid rgb(38,120,178);
    border-top:1px solid rgb(38,120,178);
    height:70px;
    text-align: center;
    font-size: 4vw;
    line-height: 70px;
}
.win-cnt.text-center {
    height: 100px;
    line-height: 100px;
    font-size: 4vw;
    text-align: center;
    border: 1px solid rgb(38,120,178);
}
.win-bot{
    height:80px;
    font-size: 4vw;
    line-height: 80px;
    text-align: center;
    background-color: rgba(35, 100, 153, 0.5);
    color: white;
}

